@model MyDealTest.Models.UrlRedirect

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UrlRedirect</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GivenUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrlRedirecID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
